<h1>About</h1>
<p>This site was pulled together over the course of one day by a newly created team for WeCode Hackathon 2017</p>
<div class="card" style="width: 50rem;">
  <img class="card-img-top" src="../assets/IMG-6325.JPG" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Meet the Team: Cerberus</h4>
    <h6>(otherwise known as Team 3)</h6>
    <p class="card-text">Word of Mouth(WoM): the application is designed to be based on user input. In the past one hundred years it was common for migratory people to communicate with each other using various symbols painted to give warnings and aid to one another. This is the basis for the design elements of our app.</p>
      
    <p>The o in the center of Word of Mouth is the symbol for “this way”, and our app aims to work as a community contributed guide.</p>
  </div>
</div>